<div class="container">
  <!-- Toggle button -->
  <div class="host">
    <input
      type="checkbox"
      id="toggle-button-checkbox"
      (change)="changeTemp()"
    />
    <label class="toggle-button-switch" for="toggle-button-checkbox"></label>
    <div class="toggle-button-text">
      <div class="toggle-button-text-on">{{ tempFormat.farenheit }}</div>
      <div class="toggle-button-text-off">{{ tempFormat.celcius }}</div>
    </div>
  </div>

  <!-- Weather Info -->
  <div class="weather text-center">
    <h3>{{ today | uppercase }}</h3>
    <h1 class="temp-symbol">{{ currentTemp }}</h1>
    <h2>{{ cityWeather.city["name"] }}</h2>
    <img class="weather__icon" [src]="weatherIconSrc" alt="weather icon" />
    <p>{{ weather }}</p>
    <hr />
    <div class="d-flex justify-content-between">
      <p class="temp-symbol">{{ minTemp }}</p>
      <p class="temp-symbol">{{ maxTemp }}</p>
    </div>
  </div>
</div>
