<div class="container mt-4">
  <!-- Toggle button -->
  <div class="host">
    <input
      type="checkbox"
      id="toggle-button-checkbox"
      (change)="changeTemp()"
    />
    <label class="toggle-button-switch" for="toggle-button-checkbox"></label>
    <div class="toggle-button-text">
      <div class="toggle-button-text-on">{{ tempFormat.farenheit }}</div>
      <div class="toggle-button-text-off">{{ tempFormat.celcius }}</div>
    </div>
  </div>

  <!-- Weather Info -->
  <h2 class="day-heading">{{ today | uppercase }}</h2>




  <!-- <div class="weather text-center ">
    <h3 class="heading--secondary">{{ today | uppercase }}</h3>
    <h1 class="temp-symbol heading">{{ currentTemp }}</h1>
    <img class="weather__icon" [src]="weatherIconSrc" alt="weather icon" />
    <p class="heading--tertiary">{{ weather | uppercase }}</p>
    <h2 class="heading--city mb-med">{{ cityWeather.city["name"] }}</h2>
    <div class="mt-large">
      <hr />
      <div class="d-flex justify-content-between ">
        <p class="text-size temp-symbol">{{ minTemp }}</p>
        <p class="text-size temp-symbol">{{ maxTemp }}</p>
      </div>
    </div>
  </div> -->
</div>
